<h1>Editing Book</h1>
<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
 <%=form_with model: @book,url　: edit_book_path(@book.id),method: :patch do |f|%>
 
 <h4>Title</h4>
  <%=f.text_field:title %>
 <%= flash[:notice] %>
 
 <h4>Body</h4>
  <%=f.text_field:body %>
  
  <p><%=f.submit'Update Book' %></p>
  
   <% end %>
   
 
 <%= link_to "Show", book_path(@book) %>
 <%= link_to "Back", books_path %>